.cards {
    min-height: 100vh;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    flex: 0 0 250px;
    background: rgb(169, 204, 255);
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:nth-child(2) {
    transform: scale(1.15);
}
header {
    height: 170px;
    background: url('img/head.png');
    z-index: 5000;
}
ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

ul li {
    width: 180px;
    height: 40px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 35px;
    background: rgb(255, 255, 255);
    width: 110px;
    align-self: center;
    margin-bottom: 30px;
}